<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">
    <link href="bower_components/angular/angular-csp.css" rel="stylesheet">
    <script src="bower_components/angular/angular.js">
    </script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js">
    </script>

    <script src="scripts/popup.js">
    </script>
    <script src="scripts/background.js">
    </script>
    <script src="scripts/app_factory.js"></script>
    <script src="scripts/app.js">
    </script>
</head>

<body ng-app="themerApp">
    <div class="main" ng-controller="EditController">
        <div class="pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <a class="pure-menu-link" ng-click="showTab = 'Edit'" href="#">Edits</a>
                </li>
                <li class="pure-menu-item">
                    <a class="pure-menu-link" ng-click="showTab = 'Filters'" href="#">Filters</a>
                </li>
            </ul>
        </div>
        <div id="clouds">
            <h1>Chrome Web Themer</h1>
            <div class="cloud x1"></div>            
            <!-- Time for multiple clouds to dance around -->
            <div class="cloud x2"></div>
            <div class="pure-g">
                <div class="row" ng-show="showTab == 'Edit'" ng-cloak>
                    <div class="card">
                        <div class="main" id="content-1">
                            <h1 class="panel-title">Edits</h1>
                            <div edit-button-directive></div>
                            <p ng-model="errMessage"></p>
                        </div>
                    </div>
                    <a class="show-filter" ng-click="toggleTextReplace = !toggleTextReplace" href="#">Replace Text</a>
                    <form class="pure-form pure-form-aligned" ng-show="toggleTextReplace" ng-cloak>
                        <div class="pure-control-group">
                            <label class="normal" for="find-text">Find:</label>
                            <input class="txt-replace-input" id="find-text" type="text" ng-model="txtFind">
                        </div>
                        <div class="pure-control-group">
                            <label class="normal" for="replace-text">Replace:</label>
                            <input class="txt-replace-input" id="replace-text" type="text" ng-model="txtReplace">
                        </div>
                        <button type="submit" ng-click="textReplace()" class="pure-button pure-button-primary">Replace</button>
                    </form>
                </div>
                <div class="row" ng-show="showTab == 'Filters'" ng-cloak>
                    <div class="card">
                        <a class="show-filter" href="#">Colorblind</a>
                        <label class="pure-checkbox">
                            <input type="checkbox" value=""> Protonopia
                        </label>
                    </div>
                </div>
            </div>
            <div class="cloud x3"></div>
            <div class="cloud x4"></div>
            <div class="cloud x5"></div>
        </div>
    </div>
</body>

</html>