<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" rel="stylesheet">
  <link href="styles/main.css" rel="stylesheet">
  <link href="bower_components/angular/angular-csp.css" rel="stylesheet">
  <link rel="stylesheet" href="bower_components/angular-bootstrap-colorpicker/css/colorpicker.min.css" />

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
  <script src="bower_components/ng-lodash/build/ng-lodash.min.js"></script>
  <script src="bower_components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.min.js"></script>
  <script src="scripts/popup.js"></script>
  <script src="scripts/app_factory.js"></script>
  <script src="scripts/app.js"></script>
</head>

<body ng-app="themerApp">
  <div class="main" ng-controller="EditController">
    <div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
        <li class="pure-menu-item">
          <a class="pure-menu-link uppercase-text" ng-click="showTab = 'Edit'" href="#">Edits</a>
        </li>
        <li class="pure-menu-item">
          <a class="pure-menu-link uppercase-text" ng-click="showTab = 'Filters'" href="#">Filters</a>
        </li>
        <li class="pure-menu-item">
          <input type="checkbox" class="tgl tgl-ios" id="day-night-toggle" />
        </li>
      </ul>
    </div>
    <div id="clouds">
      <span class="rainbow-text anim-text-flow" rainbow-text-dir></span>
      <div class="cloud x1"></div>
      <!-- Time for multiple clouds to dance around -->
      <div class="cloud x2"></div>
      <div class="pure-g">
        <div class="row" ng-show="showTab == 'Edit'" ng-cloak>
          <div class="container">
            <div id="content-1">
              <h3 class="panel-title">Edits</h3>
              <p ng-if="!edits.textReplaceEdits">No Text Edits Saved For Current Site</p>
              <div ng-if="edits != null" id="edits-list">
                <ul>
                  <li ng-repeat="(key, value) in edits">
                    <p ng-if="key === 'backgroundColor'">Changed Background Color to {{value.color}}</p>
                    <a ng-if="key != 'backgroundColor'" class="show-filter" href="#" ng-click="showEdit == key">{{key}}</a>
                    <div ng-if="showEdit === textReplaceEdits">
                      <span ng-repeat="(textEditKey, textEditValue) in edits.textReplaceEdits">{{ textEditKey}} : {{ textEditValue}} </span>
                    </div>
                  </li>
                </ul>
              </div>
              <div edit-button-directive></div>
              <p ng-model="errMessage"></p>
            </div>
          </div>
          <a class="show-filter" ng-click="toggleTextReplace = !toggleTextReplace" href="#">Replace Text</a>
          <form class="pure-form pure-form-aligned" ng-show="toggleTextReplace" ng-cloak>
            <div class="pure-control-group">
              <label class="normal" for="find-text">Find:</label>
              <input class="txt-replace-input" id="find-text" type="text" ng-model="txtFind" ng-change="saveFindTextValue()">
            </div>
            <div class="pure-control-group">
              <label class="normal" for="replace-text">Replace:</label>
              <input class="txt-replace-input" id="replace-text" type="text" ng-model="txtReplace">
            </div>
            <button type="submit" ng-click="textReplace()" class="pure-button pure-button-primary">Replace</button>
          </form>
          <div class="row">
            <label>Change Background Color</label>
            <input class="button-xsmall pure-button" colorpicker type="text" ng-model="color" ng-style="{'background-color': color}" ng-change="changeBackgroundColor()" />
          </div>
        </div>
        <div class="row" ng-show="showTab == 'Filters'" ng-cloak>
          <div class="card">
            <a class="show-filter" href="#">Colorblind</a>
            <label class="pure-checkbox">
              <input type="checkbox" value=""> Protonopia
            </label>
          </div>
        </div>
      </div>
      <div class="cloud x3"></div>
      <div class="cloud x4"></div>
      <div class="cloud x5"></div>
    </div>
  </div>
</body>

</html>
