//colors
$color_wild_sand_approx: #f5f5f5;
$color_emperor_approx: #4d4d4d;
$color_1: #000;
$color_2: inherit;
$color_3: #111;
$color_4: #0074d9;
$color_5: #fff;
$color_6: transparent;
$color_7: #ff4136;
$font_family_1: sans-serif;
$font_family_2: monospace,
monospace;
$font_family_3: Arial,
Helvetica,
sans-serif;
$font_family_4: sans;
$background_color_1: #0074d9;
$background_color_2: #2ecc40;
$background_color_3: #ff851b;
$background_color_4: #ff4136;
$background_color_5: #aaa;
$background_color_6: #ddd;
$border_color_1: #0074d9;
$border_color_2: transparent transparent #111;
$border_color_3: #111 transparent transparent;
$border_color_4: transparent #111 transparent transparent;
$border_color_5: transparent transparent transparent #111;
$border_top_color_1: #0074d9;
$white: #fff;
$black_20: rgba(0, 0, 0, 0.2);
$black_10: rgba(0, 0, 0, 0.1);
$color_mercury_approx: #e6e6e6;
$color_well_read_15_approx: rgba(175, 47, 47, 0.15);
//fonts
$font_0: Helvetica Neue;
$font_1: Helvetica;
$font_2: Arial;
$font_3: sans-serif;
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300);
* {
    margin: 0;
    padding: 0;
}

body {
    width: 300px;
    overflow: scroll;
    font-family: 'Ubuntu';
    letter-spacing: 0.2em;
    font-size: 4.5vw;
    line-height: 2;
}

//colors
$color_alabaster_approx: #f9f9f9;
$color_suva_gray_approx: #888;
$color_alto_approx: #ddd;
$color_storm_dust_approx: #666;
$seashell: #f1f1f1;
$color_tundora_approx: #444;
//fonts
$font_0: Arial;
$font_1: sans;
#container {
    margin: 0 auto;
    width: 50%;
    input {
        height: 2.5em;
        visibility: hidden;
        &:hover+label {
            background: $color_alto_approx;
            color: $color_storm_dust_approx;
        }
        &:checked+label {
            background: $seashell;
            color: $color_tundora_approx;
            position: relative;
            z-index: 6;
        }
        &#tab-1:checked~#content #content-1 {
            opacity: 1;
            z-index: 100;
        }
        &#tab-2:checked~#content #content-2 {
            opacity: 1;
            z-index: 100;
        }
        &#tab-3:checked~#content #content-3 {
            opacity: 1;
            z-index: 100;
        }
    }
    label {
        background: $color_alabaster_approx;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: .25em .25em 0 0;
        color: $color_suva_gray_approx;
        cursor: pointer;
        display: block;
        float: left;
        font-size: 1em;
        height: 2.5em;
        line-height: 2.5em;
        margin-right: .25em;
        padding: 0 1.5em;
        text-align: center;
    }
}

#content-3 {
    p {
        margin-bottom: 1em;
    }
    ul {
        margin-bottom: 1em;
        margin-left: 2em;
    }
}

#content-1 p {
    clear: both;
    margin-bottom: 1em;
    &.last {
        margin-bottom: 0;
    }
    &.left img {
        float: left;
        margin-right: 1em;
    }
}

#content-2 p {
    float: left;
    width: 48.5%;
    &.column-right {
        margin-left: 3%;
    }
    img {
        display: block;
        margin: 0 auto 1em auto;
    }
}

input.visible {
    visibility: visible !important;
}

input[type="checkbox"] {
    outline: none;
}

.normal {
    background: $white;
    position: relative;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 2px 4px 0 $black_20, 0 25px 50px 0 $black_10;
    input::-webkit-input-placeholder {
        font-style: italic;
        font-weight: 300;
        color: $color_mercury_approx;
    }
    input::-moz-placeholder {
        font-style: italic;
        font-weight: 300;
        color: $color_mercury_approx;
    }
    input::input-placeholder {
        font-style: italic;
        font-weight: 300;
        color: $color_mercury_approx;
    }
    h1 {
        top: -155px;
        width: 100%;
        font-size: 39px;
        font-weight: 100;
        text-align: center;
        color: $color_well_read_15_approx;
        text-rendering: optimizeLegibility;
    }
}

.show-filter,
.show-filter:hover,
.show-filter:active,
.show-filter:visited {
    text-decoration: none;
}

.show-filter {
    transition: all 0.6s ease;
    transform: scaleX(2.5) translateY(4px);
}

.show-filter:hover {
    display: inline;
    transform: scaleX(2.5);
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.7), 0 10px 4px rgba(0, 0, 0, 0.5);
    font-size: 4.5vw;
    cursor: pointer;
}


/***********************
  RAISED BUTTONS
************************/

.btn-primary.raised {
    box-shadow: 0 3px 0 0 #007299;
}

.tgl {
	display: none;

	// add default box-sizing for this scope
	&,
  &:after,
  &:before,
	& *,
  & *:after,
  & *:before,
	& + .tgl-btn {
		box-sizing: border-box;
		&::selection {
			background: none;
		}
	}

	+ .tgl-btn {
		outline: 0;
		display: block;
		width: 4em;
		height: 2em;
		position: relative;
		cursor: pointer;
    user-select: none;
		&:after,
    &:before {
			position: relative;
			display: block;
			content: "";
			width: 50%;
			height: 100%;
		}

		&:after {
			left: 0;
		}

		&:before {
			display: none;
		}
	}

	&:checked + .tgl-btn:after {
		left: 50%;
	}
}

.tgl-ios {
	+ .tgl-btn {
		background: #fbfbfb;
		border-radius: 2em;
		padding: 2px;
		transition: all .4s ease;
		border: 1px solid #e8eae9;
		&:after {
			border-radius: 2em;
			background: #fbfbfb;
			transition:
        left .3s cubic-bezier(
          0.175, 0.885, 0.320, 1.275
        ),
        padding .3s ease, margin .3s ease;
			box-shadow:
        0 0 0 1px rgba(0,0,0,.1),
        0 4px 0 rgba(0,0,0,.08);
		}

    &:hover:after {
      will-change: padding;
    }

		&:active {
			box-shadow: inset 0 0 0 2em #e8eae9;
			&:after {
				padding-right: .8em;
			}
		}
	}

	&:checked + .tgl-btn {
    background: #86d993;
    &:active {
      box-shadow: none;
      &:after {
        margin-left: -.8em;
      }
    }
	}
}


.btn-primary.raised:active,
.btn-primary.raised.active {
    background: #33a6cc;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}


/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

.text-replace {
    margin-bottom: 5%;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active,
.btn-primary.active {
    background: #007299;
    box-shadow: none;
}


/***********************
  ANIMATE FROM ANIMATE.CSS
************************/

.ng-hide-add {
    animation: 0.5s lightSpeedOut ease;
}

.ng-hide-remove {
    animation: 0.5s flipInX ease;
}

@keyframes flipInX {
    0% {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        //Instead of the line below you could use @include transition-timing-function($function-1, $function-2, $function-3, $function-4, $function-5, $function-6, $function-7, $function-8, $function-9, $function-10)
        transition-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        //Instead of the line below you could use @include transition-timing-function($function-1, $function-2, $function-3, $function-4, $function-5, $function-6, $function-7, $function-8, $function-9, $function-10)
        transition-timing-function: ease-in;
    }
    60% {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }
    80% {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    100% {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: perspective(400px);
    }
}

@keyframes lightSpeedOut {
    0% {
        opacity: 1;
        opacity: 1;
    }
    100% {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: translate3d(100%, 0, 0) skewX(30deg);
        opacity: 0;
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: translate3d(100%, 0, 0) skewX(30deg);
        opacity: 0;
    }
}


/* :a.href: is the tag name of my tag that holds the shadow DOM */

\:a\.href\: {
    all: initial !important;
    position: absolute !important;
    top: auto !important;
    right: auto !important;
    bottom: auto !important;
    left: auto !important;
    display: inline-block !important;
    margin: 0 !important;
    box-shadow: none !important;
    border: 0 !important;
    padding: 0 !important;
    width: 0 !important;
    height: 0 !important;
    transform: none !important;
    clear: none !important;
    float: none !important;
    opacity: 0.9 !important;
    z-index: 2147483645 !important;
    transition: z-index 1ms !important;
    /* allow some stylistic properties to inherit */
    font-size: inherit !important;
    font-weight: inherit !important;
}

:hover>\:a\.href\: {
    opacity: 1 !important;
    z-index: 2147483646 !important;
    transition: z-index 2ms !important;
}

\:a\.href\::hover {
    opacity: 1 !important;
    z-index: 2147483647 !important;
    transition: z-index 3ms !important;
}

[a-href\:hover] {
    outline: 1px dashed rgba(229, 151, 0, 0.9) !important;
}

\:a\.href\: .display-anchors-style-reset {
    all: unset !important;
    font-size: inherit !important;
    font-weight: inherit !important;
}


/**
 * Styles designed for Firefox, because they do not support shadow DOM yet,
 * and neither the "revert" CSS keyword, so we need to clone the default UA
 * styles.
 *
 * Sources:
 * https://dxr.mozilla.org/mozilla-central/rev/1d025ac534a6333a8170a59a95a8a3673d4028ee/layout/style/nsLayoutStylesheetCache.cpp#899
 * https://dxr.mozilla.org/mozilla-central/rev/1d025ac534a6333a8170a59a95a8a3673d4028ee/layout/base/nsPresContext.cpp#227
 */


/* colors based on layout/base/nsPresContext.cpp */

\:a\.href\: a.display-anchors-style-reset:link {
    color: #00E !important;
    text-decoration: underline !important;
    cursor: pointer !important;
}

\:a\.href\: a.display-anchors-style-reset:visited {
    color: #551a88 !important;
}

\:a\.href\: a.display-anchors-style-reset:active {
    color: #E00 !important;
}

.pure-g {
    letter-spacing: 0;
    flex-wrap: wrap;
    font-family: 'Ubuntu';
}

.pure-button {
  width: 80px;
  color: white;
  background-color: darkslategrey;
  border-radius: 5px;
}

#clouds {
    padding: 100px 0;
    background: #c9dbe9;
    background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
    background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
    background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);
}


/*Time to finalise the cloud shape*/

.cloud {
    width: 200px;
    background: #fff;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        background: #fff;
        width: 100px;
        height: 80px;
        top: -15px;
        left: 10px;
        border-radius: 100px;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px;
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
        -moz-transform: rotate(30deg);
    }
    &:after {
        content: '';
        position: absolute;
        background: #fff;
        width: 100px;
        height: 80px;
        top: -15px;
        left: 10px;
        border-radius: 100px;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px;
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
        -moz-transform: rotate(30deg);
        width: 120px;
        height: 120px;
        top: -55px;
        left: auto;
        right: 15px;
    }
}


/*Time to animate*/

.x1 {
    -webkit-animation: moveclouds 15s linear infinite;
    -moz-animation: moveclouds 15s linear infinite;
    -o-animation: moveclouds 15s linear infinite;
}


/*variable speed, opacity, and position of clouds for realistic effect*/

.x2 {
    left: 200px;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.6;
    /*opacity proportional to the size*/
    /*Speed will also be proportional to the size and opacity*/
    /*More the speed. Less the time in 's' = seconds*/
    -webkit-animation: moveclouds 25s linear infinite;
    -moz-animation: moveclouds 25s linear infinite;
    -o-animation: moveclouds 25s linear infinite;
}

.x3 {
    left: -250px;
    top: -200px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8;
    /*opacity proportional to the size*/
    -webkit-animation: moveclouds 20s linear infinite;
    -moz-animation: moveclouds 20s linear infinite;
    -o-animation: moveclouds 20s linear infinite;
}

.x4 {
    left: 300px;
    top: -250px;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.75;
    /*opacity proportional to the size*/
    -webkit-animation: moveclouds 18s linear infinite;
    -moz-animation: moveclouds 18s linear infinite;
    -o-animation: moveclouds 18s linear infinite;
}

.x5 {
    left: -150px;
    top: -150px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8;
    /*opacity proportional to the size*/
    -webkit-animation: moveclouds 20s linear infinite;
    -moz-animation: moveclouds 20s linear infinite;
    -o-animation: moveclouds 20s linear infinite;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.clouds{
    background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;
    z-index:3;

  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
}

#sky{
   position:absolute;
   height:85%;
   width:100%;
   z-index:0;
   background: #0957bc; /* Old browsers */
   background: -moz-linear-gradient(top, #0957bc 0%, #053c89 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0957bc), color-stop(100%,#053c89)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top, #0957bc 0%,#053c89 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top, #0957bc 0%,#053c89 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top, #0957bc 0%,#053c89 100%); /* IE10+ */
   background: linear-gradient(top, #0957bc 0%,#053c89 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0957bc', endColorstr='#053c89',GradientType=0 ); /* IE6-9 */
}


#stars{
   height:100%;
   width:100%;
   background: url(http://sub.slinto.sk/ParallaxStars.png) repeat 0 0;
   position:absolute;
   top:0;
   left:0;
   -webkit-animation: bgAnimation 7s infinite;
   -moz-animation: bgAnimation 7s infinite;
   -ms-animation: bgAnimation 7s infinite;
   -o-animation: bgAnimation 7s infinite;
   animation: bgAnimation 7s infinite;
   -webkit-animation-timing-function: linear;
   -moz-animation-timing-function: linear;
   -ms-animation-timing-function: linear;
   -o-animation-timing-function: linear;
   animation-timing-function: linear;

}


.asteroid{
   position:absolute;
   top:-200px;
   left:-200px;
   width:200px;
   height:200px;
   opacity:0.8;
   -webkit-animation: asteroidAnimation 5s infinite;
   -webkit-animation-timing-function:ease-in;
   -moz-animation-timing-function:ease-in;
   -ms-animation-timing-function:ease-in;
   -o-animation-timing-function:ease-in;
   animation-timing-function:ease-in;

   -webkit-animation-delay:2s;
   -moz-animation-delay:2s;
   -ms-animation-delay:2s;
   -o-animation-delay:2s;
   animation-delay:2s;
}
.asteroid-head{
   width:10px;
   height:10px;
   -webkit-border-radius:50%;
   -moz-border-radius:50%;
   border-radius:50%;
   background:#FFF;
   -webkit-box-shadow:0px 0px 7px 2px #FFF;
   -moz-box-shadow:0px 0px 7px 2px #FFF;
   box-shadow:0px 0px 7px 2px #FFF;
   position: absolute;
   bottom:0;
   right:0;
}
.asteroid-tail{
   width:0;
   height:0;
   border-left: 3px solid transparent;
   border-bottom: 200px solid #FFF;
   border-right: 3px solid transparent;
   position: absolute;
   bottom:-22px;
   right:75px;
   -webkit-transform:rotate(-45deg);
   -moz-transform:rotate(-45deg);
   -o-transform:rotate(-45deg);
   -ms-transform:rotate(-45deg);
   transform:rotate(-45deg);
}


.a2{
   top:-205px;
   left:400px;
      -webkit-animation: asteroidAnimationTwo 6s infinite;
   -webkit-animation-timing-function:ease-in;
-moz-animation-timing-function:ease-in;
-ms-animation-timing-function:ease-in;
-o-animation-timing-function:ease-in;
animation-timing-function:ease-in;

-webkit-animation-delay:4s;
-moz-animation-delay:4s;
-ms-animation-delay:4s;
-o-animation-delay:4s;
animation-delay:4s;

}

#moon{
   position:absolute;
   top:10%;
   right:10%;
   width:200px;
   height:200px;
   border-radius:50%;
   background:#FFFF8C;
   box-shadow:0px 0px 100px #FFFF8C;
   z-index:5;
   -webkit-animation: moonAnimation 3s infinite;
   -moz-animation: moonAnimation 3s infinite;
   -ms-animation: moonAnimation 3s infinite;
   -o-animation: moonAnimation 3s infinite;
   animation: moonAnimation 3s infinite;
}

@-webkit-keyframes moveclouds {
    0% {
        margin-left: 800px;
    }
    100% {
        margin-left: -800px;
    }
}

@-moz-keyframes moveclouds {
    0% {
        margin-left: 800px;
    }
    100% {
        margin-left: -800px;
    }
}

@-o-keyframes moveclouds {
    0% {
        margin-left: 800px;
    }
    100% {
        margin-left: -800px;
    }
}


/*
 * Animation module with all animation code
 */

.anim-text-flow,
.anim-text-flow-hover:hover {
    /*
   * Animation variables
   */
    $animationSteps: 20;
    $animationDuration: 50;
    $animationElement: span;
    $animationElementsCount: 100;
    $delayBetweenLetters: 0.2;
    /*
   * Elements settings
   */
    #{$animationElement} {
        animation-name: anim-text-flow-keys;
        animation-duration: #{$animationDuration}s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-fill-mode: forwards;
    }
    /*
   * Keyframe loop
   */
    @keyframes anim-text-flow-keys {
        @for $i from 0 through $animationSteps {
            #{percentage($i * (1 / $animationSteps))} {
                color: hsla(random(365), 60, 60, 1);
            }
        }
    }
    /*
   * Element animation delay loop
   */
    $totalDelayTime: $animationElementsCount * $delayBetweenLetters;
    @for $i from 1 through $animationElementsCount {
        #{$animationElement}:nth-of-type(#{$i}) {
            animation-delay: #{($i * $delayBetweenLetters) - $totalDelayTime}s;
        }
    }
}
.uppercase-text {
  text-transform: uppercase;
}

.rainbow-text {
    text-decoration: none;
    color: #eee;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 15px;
}

.crater{
   position:absolute;
   top:30px;
   left:40px;
   width:25px;
   height:45px;
   background:#E3E693;
   border-top-right-radius:50px 100px;
   border-top-left-radius:50px 100px;
   border-bottom-right-radius:50px 100px;
   border-bottom-left-radius:50px 100px;
   -webkit-transform:rotate(40deg);
   -moz-transform:rotate(40deg);
   -o-transform:rotate(40deg);
   -ms-transform:rotate(40deg);
   transform:rotate(40deg);
}

.crater2{
   position:absolute;
   top:125px;
   right:20px;
   width:15px;
   height:20px;
   background:#E3E693;
   border-top-right-radius:20px 20px;
   border-top-left-radius:20px 20px;
   border-bottom-right-radius:20px 30px;
   border-bottom-left-radius:20px 30px;
   -webkit-transform:rotate(-60deg);
   -moz-transform:rotate(-60deg);
   -o-transform:rotate(-60deg);
   -ms-transform:rotate(-60deg);
   transform:rotate(-60deg);
}

.crater3{
   position:absolute;
   top:120px;
   left:60px;
   width:10px;
   height:10px;
   background:#E3E693;
   border-radius:50%;
}

.crater4{
   position:absolute;
   top:90px;
   right:90px;
   width:10px;
   height:10px;
   background:#E3E693;
   border-radius:50%;
}

.crater5{
   position:absolute;
   top:50px;
   left:120px;
   width:30px;
   height:35px;
   background:#E3E693;
   border-radius:50%;
   -webkit-transform:rotate(120deg);
   -moz-transform:rotate(120deg);
   -o-transform:rotate(120deg);
   -ms-transform:rotate(120deg);
   transform:rotate(120deg);
}

.crater6{
   position:absolute;
   bottom:15px;
   left:80px;
   width:15px;
   height:15px;
   background:#E3E693;
   border-radius:50%;
}

.crater7{
   position:absolute;
   bottom:15px;
   left:130px;
   width:5px;
   height:5px;
   background:#E3E693;
   border-radius:50%;
}

.g4{left:15%;  height:18px;}
.g5{left:16%;  height:26px;}
.g6{left:20%;  height:20px;}
.g7{left:23%;  height:22px;}
.g8{left:27%;  height:26px;}
.g9{left:33%;  height:17px;}
.g10{left:37%; height:24px;}
.g11{left:39%; height:26px;}
.g12{left:42%; height:16px;}
.g13{left:45%; height:22px;}
.g14{left:48%; height:18px;}
.g15{left:50%; height:26px;}
.g16{left:53%; height:20px;}
.g17{left:58%; height:22px;}
.g18{left:60%; height:26px;}
.g19{left:62%; height:17px;}
.g20{left:65%; height:24px;}
.g21{left:67%;  height:26px;}
.g22{left:68%;  height:16px;}
.g23{left:70%; height:22px;}
.g24{left:72%; height:18px;}
.g25{left:74%; height:26px;}
.g26{left:75%; height:20px;}
.g27{left:78%; height:22px;}
.g28{left:80%; height:26px;}
.g29{left:82%; height:17px;}
.g30{left:83%; height:24px;}
.g31{left:85%; height:26px;}
.g32{left:87%; height:16px;}
.g33{left:89%; height:22px;}
.g34{left:91%; height:18px;}
.g35{left:92%; height:26px;}
.g36{left:94%; height:20px;}
.g37{left:96%; height:22px;}
.g38{left:97%; height:26px;}
.g39{left:99%; height:17px;}
.g40{left:100%; height:24px;}

@keyframes "bgAnimation" {
 0% {
    background-position: 0px 0;
 }
 50% {
    background-position: 50px 0;
 }
 100% {
    background-position: 0px 0;
 }

}

@-moz-keyframes bgAnimation {
 0% {
   background-position: 0px 0;
 }
 50% {
   background-position: 50px 0;
 }
 100% {
   background-position: 0px 0;
 }

}

@-webkit-keyframes "bgAnimation" {
 0% {
   background-position: 0px 0;
 }
 50% {
   background-position: 50px 0;
 }
 100% {
   background-position: 0px 0;
 }

}

@-ms-keyframes "bgAnimation" {
 0% {
   background-position: 0px 0;
 }
 50% {
   background-position: 50px 0;
 }
 100% {
   background-position: 0px 0;
 }

}

@-o-keyframes "bgAnimation" {
 0% {
   background-position: 0px 0;
 }
 50% {
   background-position: 50px 0;
 }
 100% {
   background-position: 0px 0;
 }
}

/*****************************************/
@keyframes "windowAnimation" {
 0% {
    -webkit-box-shadow: 0px 0px 40px #FF0;
      -moz-box-shadow: 0px 0px 40px #FF0;
      box-shadow: 0px 0px 40px #FF0;
 }
 50% {
    -webkit-box-shadow: 0px 0px 60px #FF0;
      -moz-box-shadow: 0px 0px 60px #FF0;
      box-shadow: 0px 0px 60px #FF0;
 }
 100% {
    -webkit-box-shadow: 0px 0px 40px #FF0;
      -moz-box-shadow: 0px 0px 40px #FF0;
      box-shadow: 0px 0px 40px #FF0;
 }

}

@-moz-keyframes windowAnimation {
 0% {
   -moz-box-shadow: 0px 0px 40px #FF0;
   box-shadow: 0px 0px 40px #FF0;
 }
 50% {
   -moz-box-shadow: 0px 0px 60px #FF0;
   box-shadow: 0px 0px 60px #FF0;
 }
 100% {
   -moz-box-shadow: 0px 0px 40px #FF0;
   box-shadow: 0px 0px 40px #FF0;
 }

}

@-webkit-keyframes "windowAnimation" {
 0% {
   -webkit-box-shadow: 0px 0px 40px #FF0;
   box-shadow: 0px 0px 40px #FF0;
 }
 50% {
   -webkit-box-shadow: 0px 0px 60px #FF0;
   box-shadow: 0px 0px 60px #FF0;
 }
 100% {
   -webkit-box-shadow: 0px 0px 40px #FF0;
   box-shadow: 0px 0px 40px #FF0;
 }

}

@-ms-keyframes "windowAnimation" {
 0% {
   box-shadow: 0px 0px 40px #FF0;
 }
 50% {
   box-shadow: 0px 0px 60px #FF0;
 }
 100% {
   box-shadow: 0px 0px 40px #FF0;
 }

}

@-o-keyframes "windowAnimation" {
 0% {
   box-shadow: 0px 0px 40px #FF0;
 }
 50% {
   box-shadow: 0px 0px 60px #FF0;
 }
 100% {
   box-shadow: 0px 0px 40px #FF0;
 }

}


/*-----------------------------------*/
@keyframes "moonAnimation" {
 0% {
    -webkit-box-shadow: 0px 0px 100px #FFFF8C;
      -moz-box-shadow: 0px 0px 100px #FFFF8C;
      box-shadow: 0px 0px 100px #FFFF8C;
 }
 50% {
    -webkit-box-shadow: 0px 0px 140px #FFFF8C;
      -moz-box-shadow: 0px 0px 140px #FFFF8C;
      box-shadow: 0px 0px 140px #FFFF8C;
 }
 100% {
    -webkit-box-shadow: 0px 0px 100px #FFFF8C;
      -moz-box-shadow: 0px 0px 100px #FFFF8C;
      box-shadow: 0px 0px 100px #FFFF8C;
 }

}

@-moz-keyframes moonAnimation {
 0% {
   -moz-box-shadow: 0px 0px 100px #FFFF8C;
   box-shadow: 0px 0px 100px #FFFF8C;
 }
 50% {
   -moz-box-shadow: 0px 0px 140px #FFFF8C;
   box-shadow: 0px 0px 140px #FFFF8C;
 }
 100% {
   -moz-box-shadow: 0px 0px 100px #FFFF8C;
   box-shadow: 0px 0px 100px #FFFF8C;
 }

}

@-webkit-keyframes "moonAnimation" {
 0% {
   -webkit-box-shadow: 0px 0px 100px #FFFF8C;
   box-shadow: 0px 0px 100px #FFFF8C;
 }
 50% {
   -webkit-box-shadow: 0px 0px 140px #FFFF8C;
   box-shadow: 0px 0px 140px #FFFF8C;
 }
 100% {
   -webkit-box-shadow: 0px 0px 100px #FFFF8C;
   box-shadow: 0px 0px 100px #FFFF8C;
 }

}

@-ms-keyframes "moonAnimation" {
 0% {
   box-shadow: 0px 0px 100px #FFFF8C;
 }
 50% {
   box-shadow: 0px 0px 140px #FFFF8C;
 }
 100% {
   box-shadow: 0px 0px 100px #FFFF8C;
 }

}

@-o-keyframes "moonAnimation" {
 0% {
   box-shadow: 0px 0px 100px #FFFF8C;
 }
 50% {
   box-shadow: 0px 0px 140px #FFFF8C;
 }
 100% {
   box-shadow: 0px 0px 100px #FFFF8C;
 }

}


/*--------------------------------------------------*/
@keyframes "asteroidAnimation" {
 0% {
    top: -200px;
      left: -200px;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
      filter: alpha(opacity=80);
      opacity: 0.8;
 }
 10% {
    top: 200px;
      left: 200px;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0;
 }
 100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0;
 }

}

@-moz-keyframes asteroidAnimation {
 0% {
   top: -200px;
   left: -200px;
   filter: alpha(opacity=80);
   opacity: 0.8;
 }
 10% {
   top: 200px;
   left: 200px;
   filter: alpha(opacity=0);
   opacity: 0;
 }
 100% {
   filter: alpha(opacity=0);
   opacity: 0;
 }

}

@-webkit-keyframes "asteroidAnimation" {
 0% {
   top: -200px;
   left: -200px;
   filter: alpha(opacity=80);
   opacity: 0.8;
 }
 10% {
   top: 200px;
   left: 200px;
   filter: alpha(opacity=0);
   opacity: 0;
 }
 100% {
   filter: alpha(opacity=0);
   opacity: 0;
 }

}

@-ms-keyframes "asteroidAnimation" {
 0% {
   top: -200px;
   left: -200px;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
   filter: alpha(opacity=80);
   opacity: 0.8;
 }
 10% {
   top: 200px;
   left: 200px;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
 }
 100% {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
 }

}

@-o-keyframes "asteroidAnimation" {
 0% {
   top: -200px;
   left: -200px;
   filter: alpha(opacity=80);
   opacity: 0.8;
 }
 10% {
   top: 200px;
   left: 200px;
   filter: alpha(opacity=0);
   opacity: 0;
 }
 100% {
   filter: alpha(opacity=0);
   opacity: 0;
 }

}


/*-----------------------------------------------------------------------*/
@keyframes "asteroidAnimationTwo" {
 0% {
    top: -200px;
      left: 400px;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
      filter: alpha(opacity=80);
      opacity: 0.8;
 }
 10% {
    top: 400px;
      left: 980px;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0;
 }
 100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0;
 }

}

@-moz-keyframes asteroidAnimationTwo {
 0% {
   top: -200px;
   left: 400px;
   filter: alpha(opacity=80);
   opacity: 0.8;
 }
 10% {
   top: 400px;
   left: 980px;
   filter: alpha(opacity=0);
   opacity: 0;
 }
 100% {
   filter: alpha(opacity=0);
   opacity: 0;
 }

}

@-webkit-keyframes "asteroidAnimationTwo" {
 0% {
   top: -200px;
   left: 400px;
   filter: alpha(opacity=80);
   opacity: 0.8;
 }
 10% {
   top: 400px;
   left: 980px;
   filter: alpha(opacity=0);
   opacity: 0;
 }
 100% {
   filter: alpha(opacity=0);
   opacity: 0;
 }

}

@-ms-keyframes "asteroidAnimationTwo" {
 0% {
   top: -200px;
   left: 400px;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
   filter: alpha(opacity=80);
   opacity: 0.8;
 }
 10% {
   top: 400px;
   left: 980px;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
 }
 100% {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
 }

}

@-o-keyframes "asteroidAnimationTwo" {
 0% {
   top: -200px;
   left: 400px;
   filter: alpha(opacity=80);
   opacity: 0.8;
 }
 10% {
   top: 400px;
   left: 980px;
   filter: alpha(opacity=0);
   opacity: 0;
 }
 100% {
   filter: alpha(opacity=0);
   opacity: 0;
 }

}

.loader{
    position:absolute;
    top:50%;
    margin:-240px;
    left:50%;
    width:480px;
    height:480px;
}
.loader h1{
    position: absolute;
    top:0px;
    left:0px;
    text-align: center;
    width:100%;
    top:0px;
    line-height:420px;
    font-size:24px;
    color:rgba(0,0,0,0.24);
    font-weight:100;
}
